body{
    background-color: rgb(119, 180, 206);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: white;
}

header {
    margin-bottom: 30px;
}

form {
    display: flex;
}

.hint {
    line-height: 1.5;
    margin-top: 8px;
    font-size: 12px;
    opacity: 0.6;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
}

.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.03);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: rgb(12, 12, 95);
}

.submit-button {
    margin-left: 10px;
    background: rgb(14, 68, 108);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    width: 150px;
    font-size: 16px;
}

.poem {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
    border-left: 5px solid rgb(14, 68, 108);
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

a {
    color: rgb(14, 68, 108);
}

.hidden {
    display: none;
}

.poem strong {
    color: rgb(14, 68, 108);
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}